body {
    font-family: TimesNewRoman, Times New Roman, Times;
    background-color: #fff;
}

textarea {
    width: 70%;
    margin-left: 16%;
    font-size: 1.5vw;
}

span {
    margin-left: 55vw;
}

label {
    width: 70%;
    margin-left: 15%;
}

form input{
    font-size: 1.5vw;
    text-align: center;
    width: 70%;
    margin-left: 15%;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

p {
    color: #282828;
}

ul li {
    list-style-type: none;
}

footer {
    padding: 2px;
    background-color: #282828;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 7%;
    text-align: center;
    align-items: center;
}
footer p {
    color: #fff;
    margin-left: 5%;
    font-size: 2vw;
}

.item1 {grid-area: header;}
.item2 {grid-area: main;}
.item3 {grid-area: footer;}

.thin-head {
    background-color: #282828;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 2vw;
    text-align: center;
}

.item1 {
    position: absolute;
    top: 0;
    right: 0;
    left:0;
    background-image: url(./gradina.jpg);
    background-size: cover;
    background-position-y: 40%;
}


.thin-head ul li{ 
    display: inline-block;
    color: #fff;
    margin-left: 5%;
}
.thin-head ul {
    margin-right: 5%;
}

.container {
    display: grid;
    grid-template-areas:'header header header header header header'
                        'main main main main main main'
                        'footer footer footer footer footer footer';
}


.container > div {
    padding: 1vw;
    font-size: 2vw;
}

.logo {
    width:40%;
    height: 20vw;
    margin-left: -10%;
}

#image1:hover .description{
    visibility: visible;
    opacity: 1;
}

.description {
    visibility: hidden;
    font-size: 1.5vw;
}


#main {
    margin-bottom: 10vw;
    margin-top: 40vw;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
    background-color: #282828;
    border-radius: 1vw;
    text-align: center;
}

#main p {
    margin-left: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
    color: #fff;
}

#main1 img{
    margin-left: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
}

::placeholder {
    color: #282828;
    font-size: 2vw;
}

@media screen and (max-width: 1000px) {
    footer p{
        font-size: 3.5vw;
    }

    textarea {
        width: 70%;
        margin-left: 16%;
        font-size: 3vw;
    }
    
    label {
        width: 70%;
        margin-left: 15%;
        font-size: 3vw;

    }
    
    form input{
        font-size: 3vw;
        text-align: center;
        width: 70%;
        margin-left: 15%;
    }

    span {
        margin-left: 30vw;
    }

    .item1 {
        height: 40vw;
    }

    .logo {
        width: 50%;
        height: 25vw;
    }

    .thin-head {
        margin-top: 10%;
        width: 100%;
    }

    .thin-head li{
        margin-right: -3.75%; 
        font-size: 2.75vw;
    }

    .thin-head ul {
        margin-left: -14%;
    }

    #main {
        margin-top: 60vw;
    }

    #main h1 {
        font-size: 7vw;
    }

    #main p{
        font-size: 4vw;
    }

    ::placeholder {
        color: #282828;
        font-size: 3vw;
    }
} 
